/* Add your CSS to this file */
 :root{
    --white: #ffffff;
    --nav-color: #6b7280;
    --blue: #5A67D8;
    --light-grey: #E2E8F0; 
    --light-green: #48BB78;
    --dark-grey: #4A5568; 
    --defaultFontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,'Noto Sans', sans-serif;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: var(--defaultFontFamily);
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    background-color: var(--white);
}

header h1{
    font-size: 18px;
}

header nav a{
    font-size: 18px;
    color: var(--nav-color);
    text-decoration: none;
}

header nav ul{
    list-style: none;
}

header nav a:hover{
    color: var(--blue);
}

.overview-hero{
    background-color: var(--light-grey);
}

.learn-about h2{
    font-size: 24px;
    color: var(--light-green);
}

.learn-about h3{
    color: var(--light-green);
    font-size: 21px;
}

.card{
    border-color: var(--light-grey);
    /* border-style: solid; */
    border-radius: 5px;
    /* box-shadow: inset; */
    /* box-shadow: 1px 4px var(--light-grey); -1px -4px var(--light-grey);  */
}

.testing{
    background-color: var(--dark-grey);
    color: var(--white);
}

.testing .cta a{
    background-color: var(--light-green);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
}

.stories h2{
    color: var(--blue);
}

.stories a{
    color: var(--blue);
    text-decoration: none;
}

.stories h3{
    font-size: 18px;
}

.stories img{
    border-radius: 100%;
}

.newsletter{
    background-color: var(--light-green);
    color: var(--white);
}

.btn{
    background-color: var(--blue);
    color: var(--white);
    /* border-radius: 5px; */
    border: none;
}

footer{
    background-color: var(--dark-grey);
    color: var(--white);
}